body {
 font-family:Arial, sans´serif;
 margin: 20px;
}
h1 {
    color:#333;
}
h2{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nota-data{
    font-size:  0.8em;
    color:#666;
    margin-left: 10px;
}